<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escapes.utc" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".usersres"
            android:label="@string/title_activity_usersres" >
        </activity>
        <activity
            android:name=".users.studentRegistration"
            android:label="@string/title_activity_student_registration" >
        </activity>
        <activity
            android:name=".users.studentRegistrationStep2"
            android:label="@string/title_activity_student_registration_step2" >
        </activity>
        <activity
            android:name=".users.supervisorRegistration"
            android:label="@string/title_activity_supervisor_registration" >
        </activity>
        <activity
            android:name=".users.supervisorRegistrationStep2"
            android:label="@string/title_activity_supervisor_registration_step2" >
        </activity>
        <activity
            android:name=".users.lgoin"
            android:label="@string/title_activity_lgoin" >
        </activity>
        <activity
            android:name=".home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".users.student.studentTaskes"
            android:label="@string/title_activity_student_taskes" >
        </activity>
        <activity
            android:name=".super_taskes"
            android:label="@string/title_activity_super_taskes" >
        </activity>
        <activity
            android:name=".test.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".users.student.mytaskes"
            android:label="@string/title_activity_mytaskes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
