<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escapes.utc" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.escapes.utc.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.escapes.utc.permission.C2D_MESSAGE" />

    <application
        android:name=".ParseAppliction"
        android:allowBackup="true"
        android:icon="@drawable/logo_v"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".usersres"
            android:label="@string/title_activity_usersres" >
        </activity>
        <activity
            android:name=".options.users.studentRegistration"
            android:label="@string/title_activity_student_registration" >
        </activity>
        <activity
            android:name=".options.users.studentRegistrationStep2"
            android:label="@string/title_activity_student_registration_step2" >
        </activity>
        <activity
            android:name=".options.users.supervisorRegistration"
            android:label="@string/title_activity_supervisor_registration" >
        </activity>
        <activity
            android:name=".options.users.supervisorRegistrationStep2"
            android:label="@string/title_activity_supervisor_registration_step2" >
        </activity>
        <activity
            android:name=".options.users.lgoin"
            android:label="@string/title_activity_lgoin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".options.users.student.studentTaskes"
            android:label="@string/title_activity_student_taskes" >
        </activity>
        <activity
            android:name=".super_taskes"
            android:label="@string/title_activity_super_taskes" >
        </activity>
        <activity
            android:name=".options.users.student.mytaskes"
            android:label="@string/title_activity_mytaskes" >
        </activity>
        <activity
            android:name=".options.users.student.todolist_ope"
            android:label="@string/title_activity_todolist_ope" >
        </activity>
        <activity
            android:name=".options.users.superHome"
            android:label="@string/title_activity_super_home" >
        </activity>
        <activity
            android:name=".options.users.tSuperHome"
            android:label="@string/title_activity_super_home" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.parse.starter" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/logo_v" />

    </application>

</manifest>
